{% extends "theme_bootstrap/banner_base.html" %}


{% block head_title %}Poisson Magique | GM: {{ user }} {% endblock %}

{% block nav %}
<ul class="nav navbar-nav">
    <li id="tab_first">
        <a href="/">Home</a>
    </li>
    <li id="tab_second" class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          Messages
          <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
	  <li><a href="/msg/all">All Messages</a></li>
	  <li><a href="/msg/pending">Pending</a>
          <li class="divider"></li>
          <li><a href="/msg/new">New Message</a></li>
        </ul>
    </li>
    <li id="tab_third" class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Poisson Magique
            <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
	  <li><a href="http://poissonmagique.net">poissonmagique.net</a></li>
          <li><a href="https://github.com/DrDub/poissonmagique">Source Code</a></li>
          {# TODO: add license and warranty links #}
        </ul>
    </li>
</ul>

<ul>
</ul>

<ul>
</ul>
{% endblock %}


{% block body %}

{% endblock %}
