BeautifulSoup==3.2.1
CleverCSS==0.1
Django==1.7
Jinja2==2.8
Markdown==2.6.5
MarkupSafe==0.23
Pygments==2.0.2
argparse==1.2.1
backports-abc==0.4
backports.ssl-match-hostname==3.5.0.1
certifi==2015.11.20.1
chardet==2.3.0
decorator==4.0.6
django-appconf==1.0.1
django-bitfield==1.8.0
django-bootstrap-form==3.2
django-extensions==1.6.1
django-forms-bootstrap==3.0.1
django-user-accounts==1.3.1
dnspython==1.12.0
docutils==0.12
funcsigs==0.4
functools32==3.2.3-2
ipykernel==4.2.2
ipython==4.0.2
ipython-genutils==0.1.0
ipywidgets==4.1.1
jsonschema==2.5.1
jupyter==1.0.0
jupyter-client==4.1.1
jupyter-console==4.1.0
jupyter-core==4.0.6
lmtpd==5
lockfile==0.12.2
mistune==0.7.1
mock==1.3.0
nbconvert==4.1.0
nbformat==4.0.1
nose==1.3.7
notebook==4.1.0
path.py==8.1.2
pbr==1.8.1
pexpect==4.0.1
pickleshare==0.5
pinax-theme-bootstrap==7.2.0
ptyprocess==0.5
pydns==2.3.6
python-daemon==1.6.1
python-modargs==1.7
pytz==2015.7
pyzmq==15.2.0
qtconsole==4.1.1
salmon-mail==2.99.99
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.10.0
terminado==0.6
tornado==4.3
traitlets==4.0.0
wsgiref==0.1.2
zmq==0.0.0
