{%- macro character_list(all_characters) -%}
Personajes actuales:
{% for character in all_characters %}
* {{ character.address }}: {{ character.name }} ({%- if  character.is_npc == '1' %}PNJ{%- else -%}PJ{%- endif -%})
{%- endfor -%}
{% endmacro %}
